* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(205, 221, 241);
    background-image:
        linear-gradient(to right, white 2px, transparent 2px),
        linear-gradient(to top, white 2px, transparent 2px);
    background-position: center;
    background-size: 40px 40px;
    overflow-x: hidden;
}

header {
    padding: 20px 12px 0 12px;
    font-size: 1.2rem;
    color: rgb(1, 1, 66);
}

.wrapper {
    padding: 10px 60px;
}

#list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    padding: 40px 20px;
    background: rgba(200, 200, 255, 0.1);
    backdrop-filter: blur(12px);
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    border: 1px solid #fff;
}

#list>li {
    padding: 20px 0px;
    margin-top: 2px;
    color: #fff;
    border-radius: 9px;
    box-shadow:
        2px -2px 0px rgba(255, 255, 255, 0.9),
        inset 2px -1px 0px rgba(255, 255, 255, 0.9);
    min-width: 260px;
    font-size: 1.2rem;
    font-weight: 500;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.9);
}

footer {
    padding: 20px;
    font-size: 1.1rem;
    font-weight: 400;
    width: 100%;
    color: rgb(1, 1, 66);
}